@font-face {
    font-family: 'Bank Gothic Light BT';
    src: url("../font/BankGothic.ttf");
}

@font-face {
    font-family: HoboStd;
    src: url("../font/HoboStd.otf");
}

@font-face {
    font-family: 'out'; /* wtf? */
    src: url("../font/ZhuanTi.ttf");
}

.jfx-tool-bar {
    -fx-background-color: WHITE;
    -fx-pref-width: 100%;
    -fx-pref-height: 64px;
}

.jfx-tool-bar HBox {
    -fx-alignment: center;
    -fx-spacing: 25;
    -fx-padding: 0 10;
}

.jfx-rippler {
    -fx-rippler-fill: GREY;
}

.button {
    -fx-font-weight: BOLD;
    -fx-text-fill: rgba(0, 0, 0, 0.8);
}

.label {
    -fx-font-family: Roboto;
    -fx-text-fill: rgba(0, 0, 0, 0.8);
}

.glyph-icon {
    -fx-fill: rgba(0, 0, 0, 0.6);
}

.label.title-label {
    -fx-font-family: 'Bank Gothic Light BT';
    -fx-font-size: 35px;
    -fx-text-fill: rgba(0, 0, 0, 0.9);
}

.page-center-pane {
    -fx-background-color: WHITE;
}

.page-center-pane .label {
    -fx-font-size: 18px;
    -fx-padding: 5px 10px 5px 10px;
}

.page-center-pane .label.sublist-header {
    -fx-font-size: 16px;
    -fx-text-fill: #979797
}

.main-menu-item {
    -fx-font-family: HoboStd;
    -fx-font-size: 40px;
    -fx-text-fill: BLACK;
}

.dialog-data-item {
    -fx-background-color: rgba(0, 0, 0, 0.05);
    -fx-padding: 5px 20px;
}

.blue-spinner .arc {
    -fx-stroke-width: 5px;
}

.button-raised {
    -fx-padding: 0.4em 0.8em;
    -fx-button-type: RAISED;
    -fx-background-color: WHITE;
}

.game-page-buttons-pane .button {
    -fx-button-type: RAISED;
    -fx-background-color: WHITE;
    -fx-padding: 0.6em;
    -fx-pref-width: 100px;
    -fx-font-size: 16px;
}

.ip-dial-button {
    -fx-padding: 0.1em 0.1em;
    -fx-font-size: 14px;
    -fx-button-type: RAISED;
    -fx-background-color: WHITE;
    -fx-min-width: 40px;
    -fx-pref-width: 40px;
    -fx-max-width: 40px;
    -fx-min-height: 40px;
    -fx-pref-height: 40px;
    -fx-max-height: 40px;
}

/*******************************************************************************
 *                                                                             *
 * JFX Dialog Layout                                                           *
 *                                                                             *
 ******************************************************************************/

.jfx-dialog-overlay-pane {
    -fx-background-color: rgba(0.0, 0.0, 0.0, 0.3);
}

.jfx-dialog-layout {
    -fx-padding: 24px 24px 16px 24px;
    -fx-text-fill: rgba(0.0, 0.0, 0.0, 0.87);
}

.jfx-layout-heading {
    -fx-font-size: 24px;
    -fx-font-weight: BOLD;
    -fx-alignment: center-left;
    -fx-padding: 5.0 0.0 5.0 0.0;
}

.jfx-layout-body .label {
    -fx-font-size: 20px;
    -fx-pref-width: 400px;
    -fx-wrap-text: true;
    -fx-padding: 10px 0.0 5.0 0.0;
}

.jfx-layout-actions {
    -fx-padding: 10px 0.0 0.0 0.0;
    -fx-alignment: center-right;
}

.jfx-layout-actions .button {
    -fx-font-size: 19px;
    -fx-text-fill: #03A9F4;
    -fx-font-weight: BOLD;
    -fx-padding: 0.4em 1.2em;
    -fx-background-color: WHITE;
}

/* Input Demo */

.jfx-text-field, .jfx-password-field {
    -fx-background-color: WHITE;
    -fx-prompt-text-fill: #808080;
    -fx-alignment: top-left;
    -fx-focus-color: #4059A9;
    -fx-unfocus-color: #4d4d4d;
}

.jfx-text-field:error, .jfx-password-field:error, .jfx-text-area:error {
    -fx-focus-color: #D34336;
    -fx-unfocus-color: #D34336;
}

.jfx-text-field .errorLabel, .jfx-password-field .errorLabel, .jfx-text-area .errorLabel {
    -fx-text-fill: #D34336;
    -fx-font-size: 0.75em;
}

.jfx-text-field .errorIcon, .jfx-password-field .errorIcon, .jfx-text-area .errorIcon {
    -fx-text-fill: #D34336;
    -fx-font-size: 1em;
}

/* Progress Bar Demo */

.progress-bar > .bar {
    -fx-min-width: 500;
}

.jfx-progress-bar > .bar {
    -fx-min-width: 500;
}

.jfx-progress-bar {
    -fx-track-color: #C8C8C8;
    -fx-progress-color: #0F9D58;
    -fx-stroke-width: 3;
}
/* Icons Demo */

.icon {
    -fx-text-fill: #FE774D;
    -fx-padding: 10;
    -fx-cursor: hand;
}

.icons-rippler {
    -fx-rippler-fill: BLUE;
    -fx-mask-type: CIRCLE;
}

.icons-rippler:hover {
    -fx-cursor: hand;
}

.icons-badge {
    -fx-badge-fill: BLUE;
    -fx-badge-scale: 3.0;
    -fx-mask-type: CIRCLE;
}

.jfx-check-box {
    -fx-font-weight: BOLD;
}

.custom-jfx-check-box {
    -fx-checked-color: RED;
    -fx-unchecked-color: BLACK;
}

/* The main scrollbar **track** CSS class  */

.os-x-scrollbar .scroll-bar:horizontal .track,
.os-x-scrollbar .scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
    -fx-border-radius: 2em;
}
/* The increment and decrement button CSS class of scrollbar */

.os-x-scrollbar .scroll-bar:horizontal .increment-button,
.os-x-scrollbar .scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 0 10 0;
}

/* The increment and decrement button CSS class of scrollbar */

.os-x-scrollbar .scroll-bar:vertical .increment-button,
.os-x-scrollbar .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 10 0 0;

}

.os-x-scrollbar .scroll-bar .increment-arrow,
.os-x-scrollbar .scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}
/* The main scrollbar **thumb** CSS class which we drag every time (movable) */

.os-x-scrollbar .scroll-bar:horizontal .thumb,
.os-x-scrollbar .scroll-bar:vertical .thumb {
    -fx-background-color: derive(black, 90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}

.jfx-list-cell-container {
    -fx-alignment: center-left;
}

.jfx-list-cell-content-container {
    -fx-alignment: center-left;
}

.jfx-list-cell {
    -fx-background-color: inherit;
}

.jfx-list-view {
    -fx-background-insets: 0;
    -fx-cell-horizontal-margin: 0.0;
    -fx-cell-vertical-margin: 5.0;
    -fx-vertical-gap: 10;
    -fx-expanded: false;
}

.jfx-toggle-button {
    -fx-toggle-color: RED;
}

.jfx-popup-container {
    -fx-background-color: WHITE;
}

.jfx-snackbar-content {
    -fx-background-color: #323232;
    -fx-padding: 5;
    -fx-spacing: 5;
}

.jfx-snackbar-toast {
    -fx-text-fill: WHITE;
}

.jfx-snackbar-action {
    -fx-text-fill: #ff4081;
}

.combo-box-popup .list-view .jfx-list-cell:odd:selected .jfx-list-cell-container,
.combo-box-popup .list-view .jfx-list-cell:even:selected .jfx-list-cell-container {
    -fx-background-color: rgba(0.0, 0.0, 255.0, 0.2);
}

.combo-box-popup .list-view .jfx-list-cell:odd,
.combo-box-popup .list-view .jfx-list-cell:even {
    -fx-background-color: WHITE;
}

.combo-box-popup .list-view .jfx-list-cell .jfx-rippler {
    -fx-rippler-fill: #5264AE;
}
